@use "../abstracts/variables";

body{
    font-family: variables.$poppins, sans-serif;
    font-weight: 400;
}
h2{
    font-family: variables.$poppins, sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: variables.$text-color;

}
p{
    font-family: variables.$poppins, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: variables.$secondary-text;

}