// colors
$primary-color: #E8DB84;
$secondary-color: #052A44;
$card-blur: #F4F4F499;
$text-color: #183B56;
$secondary-text: #5A7184;
$white: #fff;
$black: #000;
// fonts
$poppins: 'Poppins';
$jakarta: 'Jakarta';
$avenir: 'Avenir';
