@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../components/buttons";



header {
    width: 100%;
}
.head {
    max-width: 272px;
    width: 100%;
}

.head, .head-bar {
    @include mixins.flex-center(null);
    flex-direction: row;
    justify-content: space-between;
}



.light-dark-mode {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    transition: 0.4s;

    .light-dark-mode:hover {
        transform: scale(1.03);
    }

    #check {
        display: none;
    }

    .light {
        width: 0px;
        position: relative;
        transform: translateY(-75%);
    }
}

.nav-button {
    .nav-click {
        width: 24px;
        height: 24px;

        .nav-img {
            margin: 0 1px;
            cursor: pointer;
        }

        .nav-img>div {
            width: 22px;
            height: 2.2px;
            background-color: #3A4C66;
        }

        .nav-img>div:nth-of-type(2) {
            margin: 6px 0;
        }

        .nav-img:hover {
            transform: scale(1.05);
        }
    }

    #nav-check {
        display: none;
    }
}

.nav {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.2s;
}



// N A V :: Checked

body:has(#nav-check:checked) {
    main {
        opacity: 0;
        visibility: hidden;
    }

    .light-dark-mode {
        opacity: 0;
        visibility: hidden;
        transition: 0s;
    }

    .nav-img div:nth-child(1) {
        opacity: 0;
        visibility: hidden;
    }

    .nav-img div:nth-child(2) {
        rotate: calc(45deg);
        transform: translate(0px, 6px);
    }

    .nav-img div:nth-child(3) {
        rotate: calc(-45deg);
        transform: translate(0px, -6px);
    }

    .nav {
        opacity: 1;
        visibility: visible;
        width: 320px;
        height: 800px;
        font-size: 16px;
        background-color: white;
        color: black;
        border-radius: 15px;
        margin: 0 auto;
        transform: translate(-65%, -1%);
    }

    .nav-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        left: 50%;
        transform: translate(-10%, 15%);
        position: relative;
    }

    .nav-ul li {
        margin-top: 30px;
        font-weight: 400;
    }

    .nav-ul li:nth-child(5) {
        margin-left: 7px;
        margin-top: 45px;
    }

    .nav-ul li:nth-child(6) {
        width: 153px;
        height: 54px;
        background-color: black;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        text-align: center;
        line-height: 54px;
        transform: translateX(-30%);
    }

    .nav-ul li:nth-child(6):hover {
        background-color: #2E2E2E;
        transition: 0.1s;
        user-select: none;
        transform: translateX(-30%);
    }
}

body:has(#check:checked) {
    .nav {
        color: white;
        background-color: variables.$secondary-color;
    }

    .nav-ul li:nth-child(6) {
        background-color: white;
        color: black;
    }

    .nav-ul li:nth-child(6):hover {
        transition: 0.2s;
        background-color: rgb(218, 213, 213);
    }
}