@use "../abstracts/variables";
@use "../abstracts/mixins";

/* ========= SERVICES ========= */
.services {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  background: variables.$primary-color;
  border-radius: 29px;
  padding: 40px 80px;


  overflow: visible;

  @media (max-width: 768px) {
    max-width: 278px;
    border-radius: 10px;
    padding: 24px 13px;
  }
}

.services-wrapper {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: 462px 499px;
  justify-content: space-between;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

/* collage box (desktop: 462x474 | mobile: 252x262) */
.services-collage {
  position: relative;
  width: 462px;
  height: 474px;

  border-radius: 12.64px;
  background: rgba(244, 244, 244, 0.6);
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  overflow: visible;

  /* ლურჯი წრე */
  &::after {
    content: "";
    position: absolute;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background: #052A44;

    left: -60px;
    bottom: -20px;

    z-index: 0;
  }

  @media (max-width: 768px) {
    width: 252px;
    height: 262px;
    margin: 0 auto;

    &::after {
      width: 120px;
      height: 120px;
      left: -25px;
      bottom: -25px;
    }
  }
}

.services-img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: 1;

  &.big {
    grid-column: 1 / -1;
    height: 260px;

    @media (max-width: 768px) {
      height: 140px;
    }
  }

  &.small {
    height: 160px;

    @media (max-width: 768px) {
      height: 90px;
    }
  }
}

.services-content {
  @include mixins.flex-center(12px);
  align-items: flex-start;
  text-align: left; 

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 12px;
    line-height: 20px;
    max-width: 52ch;
  }
}

.services-list {
  display: grid;
  gap: 10px;
}

.services-item {
  position: relative;
  padding-left: 34px;
  font-size: 12px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: variables.$white;
    box-shadow: inset 0 0 0 5px #052A44;
  }
}

.services-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 18px;
  border-radius: 8px;
  background: variables.$primary-color;
  color: #fff;
  font-weight: 600;
}