@use "../abstracts/variables";
@use "../abstracts/mixins";

/* ========= STORIES ========= */
.stories {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  background: #E8DB84;
  border-radius: 29px;
  padding: 40px 80px;

  overflow: visible;

  @media (max-width: 768px) {
    max-width: 278px;
    border-radius: 10px;
    padding: 24px 13px;
  }
}

.stories-wrapper {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 24px;


  grid-template-columns: 499px 518px;
  justify-content: space-between;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.stories-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  text-align: left;

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 12px;
    line-height: 20px;
    max-width: 52ch;
  }
}

.stories-list {
  display: grid;
  gap: 10px;
}

.stories-item {
  position: relative;
  padding-left: 34px;
  font-size: 12px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    box-shadow: inset 0 0 0 5px #052A44;
  }
}

.stories-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 18px;
  border-radius: 8px;
  background: #052A44;
  color: #fff;
  font-weight: 600;
}

/* collage box (desktop: 499x518 | mobile: 252x262) */
.stories-collage {
  position: relative;
  width: 499px;
  height: 518px;

  border-radius: 12.64px;
  background: rgba(244, 244, 244, 0.6);
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  overflow: visible;

  &::after {
    content: "";
    position: absolute;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background: #052A44;

    left: -40px;
    top: 350px;

    z-index: 0;
  }

  @media (max-width: 768px) {
    width: 252px;
    height: 262px;
    margin: 0 auto;

    &::after {
      width: 120px;
      height: 120px;
      left: -25px;
      bottom: -25px;
    }
  }
}

.stories-img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: 1;

  &.big {
    grid-column: 1 / -1;
    height: 300px;

    @media (max-width: 768px) {
      height: 140px;
    }
  }

  &.small {
    height: 180px;

    @media (max-width: 768px) {
      height: 90px;
    }
  }
}