@use "base/reset";
@use "base/typography";
@use "components/buttons";


@use "abstracts/mixins";
@use "layout/reviews";
@use "layout/contact-us";
@use "layout/footer";



main{
    @include mixins.flex-center(2rem);
}
