@use "base/reset";
@use "base/typography";
@use "components/buttons";
@use "components/darkMode";

@use "abstracts/mixins";
@use "layout/header";
@use "layout/reviews";
@use "layout/contact-us";
@use "layout/footer";



main, header {
    @include mixins.flex-center(2rem);
}