@use "base/reset";
@use "base/typography";
@use "components/buttons";

@use "abstracts/mixins";
@use "layout/services";
@use "layout/stories";
@use "layout/reviews";
@use "layout/contact-us";
@use "layout/footer";



main, header{
    @include mixins.flex-center(2rem);
}
